/* Register.css */
.registerBackground {
  background: linear-gradient(135deg, #7b0f1c, #9b1c2d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.registerTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6b0000;
  margin-bottom: 25px;
}

/* Ícones decorativos */
.icon {
  position: absolute;
}

.cardIcon {
  width: 80px;
}

.crown {
  top: 40px;
  right: 60px;
  width: 120px;
}

.spear {
  bottom: 100px;
  left: 40px;
  width: 260px;
}
