/* Reset e base */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Register.css */
.cadastroBackground {
  background: linear-gradient(135deg, #7b0f1c, #9b1c2d);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* blur do canto superior esquerdo */
.cadastroBackground::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  width: 500px;
  height: 300px;
  background: radial-gradient(circle, #8B1923 0%, transparent 70%);
  filter: blur(40px);
  border-radius: 50%;
}

/* blur do canto inferior direito */
.cadastroBackground::after {
  content: "";
  position: absolute;
  bottom: -30px;
  right: -100px;
  width: 500px;
  height: auto;
  background: radial-gradient(circle, #8B1923 0%, transparent 50%);
  filter: blur(40px);
  border-radius: 50%;
}

.cadastroTitle {
  font-size: 65px;
  font-weight: bold;
  color: #621717;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* ícones/imagens decorativas ao redor do container */
.iconsContainer {
  position: absolute;
}

.coroaRainha {
  top: -120px;
  right: -180px;
  width: 280px;
  z-index: 10;
}

.valleteCopas {
  bottom: -120px;
  left: -300px;
  width: 420px;
  z-index: 10;
}

.cheapCartaTop {
  top: -120px;
  left: -300px;
  width: 470px;
  z-index: 10;
}

.cheapCartaBottom {
  bottom: -120px;
  right: -300px;
  width: 400px;
  z-index: 10;
}

/* Inputs */
.inputGroup{
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.inputGroup label {
  width: 90%;
  max-width: 650px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  color: #25759F;
  margin-bottom: 8px;
}

.inputGroup input {
  margin-bottom: 20px;
  width: 90%;
  max-width: 650px;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid #9A9A9A;
  border-radius: 10px;
  background-color: #F1F1F1;
  cursor: text;
  font-size: 24px;
}

.inputGroup ::placeholder{
  font-size: 20px;
  color: #646462;
}

