body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.chapterPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

/* Texto introdutório */
.chapterIntro {
  text-align: center;
  margin: 10px 0 10px;
  max-width: 700px;
}

.chapterIntro h4 {
  font-size: 32px;
  font-weight: bold;
  color: #1e3726;
  margin-bottom: 18px;
}

.chapterIntro p {
  font-size: 28px;
  color: #555;
  margin: 0;
  margin-bottom: 30px;
}

/* Livro aberto */
.bookWrapper {
  display: flex;
  justify-content: center;
  width: 1001px;
  max-width: 1010px;
  height: 713px;
  margin-top: 50px;
  background: url("../assets/Imagens/CapituloPage/ImageBookAberto.svg") no-repeat center top;
  background-size: contain;
  padding: 50px 60px;
}

.chapterTexts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.chapterTextBox {
  flex: 1;
  font-size: 24px;
  line-height: 1.7;
  text-align: justify;
  max-width: 380px;
  color: #000;
}

/* Barra de progresso*/
.progressBarWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 20px;
}

.progressBar {
  width: 857px;
  height: 42px;
  border-radius: 20px;
  background-color: #ddd;
  overflow: hidden;
  border: 1px solid #aaa;
}

.progressFill {
  height: 100%;
  background: linear-gradient(to right, #36a6dd, #3499C2);
  transition: width 0.3s ease;
}

.navArrow {
  width: 80px;
  cursor: pointer;
}