  body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  width: 100%;
  background-size: cover;    
  background-color: #FFF4C8; 
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 250px; 
  z-index: 10;
}

.footerOverlay {
  position: relative;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 40px 20px;
  z-index: -20;
}

/* área dos cards */
.footerCards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 2px solid #040404;
  padding-top: 20%;
}

.footerCard {
  max-width: 350px;
  text-align: left;
  margin: 20px;
  text-align: justify;
}

.footerCard h3 {
  font-size: 32px;
  color: #FCFCFC;
  margin-bottom: 10px;
  font-weight: bold;
}

.footerCard p {
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
}

/* copyright */
.copyright {
  padding-top: 30px;
  font-size: 20px;
  color: #FFFFFF;
}
 