  body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  width: 100%;
  min-height: 650px; 
  background-size: cover;    
  background-color: #FFF4C8; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  position: relative;
  padding-top: 120px; 
}

.footerOverlay {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* área dos cards */
.footerCards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 2px solid #040404;
  padding-top: 20%;
}

.footerCard {
  max-width: 300px;
  text-align: left;
  margin: 20px;
}

.footerCard h3 {
  font-size: 32px;
  color: #FCFCFC;
  margin-bottom: 10px;
  font-weight: bold;
}

.footerCard p {
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
}

/* copyright */
.copyright {
  padding-top: 30px;
  font-size: 20px;
  color: #FFFFFF;
}
