/* Fundo */
.loginBackground {
  background: #3E9ECF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* evita scroll por causa dos pseudo-elementos */
}

/* Blur canto superior esquerdo */
.loginBackground::before {
  content: "";
  position: absolute;
  top: -100px;  /* ajusta a posição */
  left: -100px;
  width: 500px;
  height: 300px;
  background: radial-gradient(circle, #ACD5E8 0%, transparent 70%);
  filter: blur(40px); /* dá o efeito de esfumado */
  border-radius: 50%;
}

/* Blur canto inferior direito */
.loginBackground::after {
  content: "";
  position: absolute;
  bottom: -100px; /* ajusta a posição */
  right: -100px;
  width: 500px;
  height: 300px;
  background: radial-gradient(circle, #ACD5E8 0%, transparent 50%);
  filter: blur(40px);
  border-radius: 50%;
}

/* Card */
.formContainer {
  background: #fff;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 855px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.loginTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0066a1;
  margin-bottom: 25px;
}

/* Inputs */
.inputGroup {
  text-align: left;
  margin-bottom: 18px;
  position: relative;
}

.inputGroup label {
  font-weight: bold;
  color: #444;
  display: block;
  margin-bottom: 5px;
}

.errorLabel {
  color: red;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.inputError {
  border: 2px solid red;
}

.errorIcon {
  position: absolute;
  right: 10px;
  top: 37px;
  color: red;
  font-weight: bold;
}

.arrowButton {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Forma da seta */
.arrowShape {
  display: inline-block;
  background: #2e6d3c;
  clip-path: polygon(
    20% 0%,
    100% 0%,
    100% 100%,
    20% 100%,
    0% 50%
  );
  width: 160px;
  height: 60px;
  transition: transform 0.4s ease, background 0.3s ease;
  position: absolute;
  z-index: 0;
}

/* Texto dentro da seta */
.arrowText {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* Hover → só a seta gira */
.arrowButton:hover .arrowShape {
  background: #24532c;
  transform: rotate(180deg);
}

/* Link */
.linkText {
  font-size: 0.9rem;
  margin-top: 10px;
}

.linkText a {
  color: purple;
  font-weight: bold;
  text-decoration: none;
}

.linkText a:hover {
  text-decoration: underline;
}

/* Ícones decorativos */
.icon {
  position: absolute;
  width: 90px;
}

.hat {
  top: 20px;
  left: 490px;
  width: 240px;
  z-index: 10;
}

.clock {
  top: 40px;
  right: 520px;
  width: 190px;
  z-index: 10;
}

.key {
  bottom: 100px;
  left: 580px;
  width: 120px;
  z-index: 10;
}

.teapot {
  bottom: 80px;
  right: 520px;
  width: 240px;
  z-index: 10;
}
