/* Reset */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
}

/* Fundo azul com blur */
.loginBackground {
  background-color: #3E9ECF;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.loginBackground::before {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  width: 500px;
  height: 300px;
  background: radial-gradient(circle, #ACD5E8 0%, transparent 70%);
  filter: blur(40px);
  border-radius: 50%;
}

.loginBackground::after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: -100px;
  width: 500px;
  height: 300px;
  background: radial-gradient(circle, #ACD5E8 0%, transparent 50%);
  filter: blur(40px);
  border-radius: 50%;
}

/* Card branco */
.formContainer {
  background: #fff;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 1055px; 
  width: 90%; 
  max-height: 643px; 
  position: relative;
  z-index: 1;
}

/* Título */
.loginTitle {
  font-size: 65px;
  font-weight: bold;
  color: #1D7CA8;
  margin-bottom: 50px;
  text-transform: uppercase;
}

/* Inputs */
.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.inputGroup label {
  width: 90%;
  max-width: 650px;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  color: #CC0000;
  margin-bottom: 8px;
}

.inputGroup input {
  width: 90%;
  max-width: 650px;
  height: 45px;
  padding: 8px 12px;
  border: 1px solid #9A9A9A;
  border-radius: 10px;
  background-color: #F1F1F1;
  font-size: 22px;
}

.inputGroup ::placeholder {
  font-size: 20px;
  color: #646462;
}

/* Link de cadastro */
.linkText {
  font-size: 22px;
  margin-top: 30px;
  color: #545758;
  text-align: center;
}

.linkText a {
  color: #901B8E;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.linkText a:hover {
  text-decoration: underline;
}

/* Ícones decorativos */
.iconsContainer {
  position: absolute;
}

.chapeuChapeleiro { top: -130px; left: -130px; width: 240px; }
.relogio { top: -110px; right: -100px; width: 200px; }
.chaves { bottom: -40px; left: -20px; width: 140px; }
.buleCha { bottom: -60px; right: -120px; width: 270px; }
