.navbarContainer {
  width: auto;
  height: 81px;
  background: linear-gradient(to right, #91C4DD, #36A6DD, #105F89);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
}

.navbarLinks {
  display: flex;
  gap: 60px;
}

.navLink {
  color: white;
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease;
}

.navLink:hover {
  text-decoration: underline;
}
