/* Container principal */
.readingPage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8F5AC8;
}

/* Container branco */
.readingContainer {
  margin: 60px 0;
  position: relative;
  z-index: 2;
  width: 68%;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

/* Título */
.title {
  font-size: 60px;
  font-weight: bold;
  color: #901B8E;
  margin: 12% 0;
}

/* Espaço vazio para selos */
.sealsSpace {
  min-height: 400px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
  position: relative;
}

.backButton {
  display: flex;
  align-items: center;
  background: #7e22ce;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.backButton .arrow {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.cat {
  position: absolute;
  bottom: -70px;
  right: -160px;
  width: 500px;
}

/* Rabos decorativos */
.tail {
  position: absolute;
  z-index: 1;
}

.tail1 { top: 0; left: 0; width: 140px; z-index: 10;}
.tail2 { top: 60px; right: -40px; width: 180px; z-index: 10; }
.tail3 { bottom: -30px; left: 0; width: 280px; z-index: 10; }
.tail4 { top: 320px; left: 0; width: 100px; z-index: 10; }
.tail5 {bottom: 0; right: 0;  width: 290px; z-index: 10;}

/* Background blobs animados */
.backgroundBlobs .blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.7;
  animation: float 10s infinite ease-in-out;
}

.blob1 { width: 300px; height: 300px; background: #C978DE; top: -50px; left: -50px; animation-delay: 0s; }
.blob2 { width: 400px; height: 400px; background: #901B8E; bottom: -100px; right: -100px; animation-delay: 2s; }
.blob3 { width: 250px; height: 250px; background: #FF79C0; top: 200px; right: -50px; animation-delay: 4s; }
.blob4 { width: 350px; height: 350px; background: #901B8E; bottom: 50px; left: -70px; animation-delay: 6s; }

/* Animação dos blobs */
@keyframes float {
  0%, 100% { transform: translateY(0) translateX(0); }
  50% { transform: translateY(30px) translateX(30px); }
}
