.progressBarWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 628px;
  margin: 20px auto;
}

.navArrow {
  width: 94px;
  height: 89px;
  cursor: pointer;
}

.progressBar {
  flex: 1;
  height: 14px;
  border-radius: 10px;
  background-color: #ddd;
  overflow: hidden;
  border: 1px solid #aaa;
}

.progressFill {
  height: 100%;
  background: linear-gradient(to right, #91C4DD, #36A6DD, #105F89);
  transition: width 0.3s ease;
}
