.backButton {
  position: relative;
  display: inline-block;
  background-color: #923190; 
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border: none;
  padding: 36px 40px;
  cursor: pointer;
  clip-path: polygon(
    0% 50%, 20% 0%, 20% 30%, 100% 30%, 
    100% 70%, 20% 70%, 20% 100%
  );
  outline: none;
}

.button {
  margin-top: 40px;
  margin-left: 80px;
}

.buttonLeft {
  margin-top: -40px;
  margin-left: 90px;
}