/* Reset e base */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navigationButton {
  background-color: #207E23; 
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  padding: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  max-width: 338px;
  max-height: 90px;
  margin: 40px 0;
}

