/* ======= Base ======= */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* ======= CARD ======= */
.chapterCard {
  position: relative;
  width: 230px;
  height: 210px;
  border: 3px solid;
  border-radius: 45px;
  text-align: center;
  box-shadow: 0 20px 30px rgba(0,0,0,0.05);
  overflow: visible;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.chapterImage {
  position: absolute;
  top: -65px;
  left: -25px;
  width: 95px;
  height: auto;
  pointer-events: none;
  z-index: 10;
}

.chapterExtraDecor {
  position: absolute;
  bottom: -40px;
  left: -50px;
  width: 120px;
  height: auto;
  transform: rotate(-8deg);
  pointer-events: none;
  z-index: 5;
}

/* Textos */
.chapterTitle {
  padding-top: 35px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.chapterSubtitle {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.chapterButton {
  width: 114px;
  height: 37px;
  margin-top: 5px;
  padding: 5px 15px;
  background-color: #FF6663;
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.chapterButton:hover {
  background-color: #f6605e;
}

/* ======= Página ======= */
.chaptersPage {
  min-height: 100vh;
  background-color: #f7fff9;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.chaptersHeader {
  text-align: center;
  margin-bottom: 40px;
}

.chaptersHeader h2 {
  font-size: 65px;
  font-weight: bold;
  color: #285217;
}

.chaptersHeader p {
  font-size: 40px;
  color: #447132;
}

.chaptersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px 10px;
  justify-items: center;
  margin-top: 100px;
}

/* ======= Xícaras ======= */
.cupDecoration {
  position: absolute;
  width: 55px;
  opacity: 0.95;
}

.cup1 { top: 80px; left: 30px; width: 200px; transform: rotate(-15deg); }
.cup2 { top: 80px; right: -2px; width: 100px;}
.cup3 { top: 280px; right: 20px; width: 120px;}
.cup4 { top: 780px; left: -2px; width: 100px;}
.cup5 {  bottom: 20px; width: 160px; left: -40px;};
/* .cup6 {bottom: -2px; width: 160px; right: 200px}; */

/* ======= Decorações Gerais ======= */
.decor {
  position: absolute;
  pointer-events: none;
}